ul
  li.home
    a(href="index.html")
      img(src="images/superpowers-logo.png",width="48",height="48")
  li
    a(href="https://sparklinlabs.itch.io/superpowers",target="_blank") Download
  li 
    a(href="http://docs.superpowers-html5.com/",target="_blank") Learn
  li
    a(href="http://itch.io/engine/superpowers/community",target="_blank") Community
  li
    a(href="http://itch.io/c/27733/games-made-with-superpowers",target="_blank") Games
  li
    a(href="https://patreon.com/SparklinLabs",target="_blank") Patreon
  li
    a(href="https://github.com/superpowers",target="_blank") Open Source
