table
  tr
    th February 27th, 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%236">This Week in Superpowers #6</a>: First Patreon milestone
  tr
    th February 21th, 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%235">This Week in Superpowers #5</a>: Teenage Mutant Ninja Gamedevs
  tr
    th February 11th, 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%234">This Week in Superpowers #4</a>: Sustainability
  tr
    th February 4th, 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%233">This Week in Superpowers #3</a>: Post-Global Game Jam
  tr
    th January 28th, 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%232">This Week in Superpowers #2</a>: Drag'n'drop in scenes
  tr
    th January 21th, 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%231">This Week in Superpowers #1</a>: First edition
  tr
    th January 14th, 2016
    td.
      New release: <a href="https://github.com/superpowers/superpowers-core/releases/v0.19.0" target="_blank">v0.19.0 — A week of Open Source</a>.<br>
      Also new: Superpowers LÖVE <a href="https://github.com/superpowers/superpowers-love2d/releases/tag/v0.1">v0.1 — First release!</a>
  tr
    th January 8th, 2016
    td <a href="https://github.com/superpowers/superpowers-core/releases/v0.18.1" target="_blank">v0.18.1 — Hotfix for scripting!</a> has been released to fix a major bug.
  tr
    th January 7th, 2016
    td Here we go: <a href="https://github.com/superpowers/superpowers-core/releases/v0.18.0" target="_blank">v0.18.0 — The first Open Source release</a>!
  tr
    th January 6th, 2016
    td We are now on <a href="https://patreon.com/SparklinLabs" target="_blank">Patreon</a>! Check out our <a href="https://www.youtube.com/watch?v=-OHe1v1lBgA" target="_blank">crowdfunding video</a>.
