main {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
main .logo {
  padding: 1em;
}
main .logo h1 {
  margin: 0;
  font-size: 5em;
  font-weight: bold;
}
main .aspects {
  display: flex;
  padding: 0 10vw;
  align-items: baseline;
}
main .aspects > div {
  flex: 1;
}
main .aspects > div img {
  width: 100%;
}
main .aspects > div .text {
  text-align: center;
}
main .screenshots {
  margin: 2em 0;
  padding: 1em;
  background: #ddd;
}
main .screenshots > div {
  display: flex;
  text-align: left;
}
main .screenshots .info {
  padding: 0 1em;
}
main .screenshots .info header {
  font-size: 1.5em;
}
@media (max-width: 1000px) {
  main .aspects {
    padding: 0 5vw;
  }
  main .screenshots > div {
    flex-flow: column;
  }
}
