table
  tr
    th 27 Février 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%236">L'Hebdomadaire Superpowers #6</a> : Première étape Patreon
  tr
    th 21 Février 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%235">L'Hebdomadaire Superpowers #5</a> : La Ligue des Jeunes Super-héros
  tr
    th 11 Février 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%234">L'Hebdomadaire Superpowers #4</a> : Long terme
  tr
    th 4 Février 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%233">L'Hebdomadaire Superpowers #3</a> : Post-Global Game Jam
  tr
    th 28 Janvier 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%232">L'Hebdomadaire Superpowers #2</a> : Drag'n'drop dans les scènes
  tr
    th 21 Janvier 2016
    td <a href="https://github.com/superpowers/superpowers-core/wiki/This-Week-in-Superpowers-%231">L'Hebdomadaire Superpowers #1</a> : Première édition
  tr
    th 14 Janvier 2016
    td.
      Nouvelle version : <a href="https://github.com/superpowers/superpowers-core/releases/v0.19.0" target="_blank">v0.19.0 — Une semaine d'Open Source</a>.<br>
      Et aussi : Superpowers LÖVE <a href="https://github.com/superpowers/superpowers-love2d/releases/tag/v0.1">v0.1 — Première version !</a>
  tr
    th 8 Janvier 2016
    td Nouvelle version : <a href="https://github.com/superpowers/superpowers-core/releases/v0.18.1" target="_blank">v0.18.1 — Correction d'un bug majeur</a>.
  tr
    th 7 Janvier 2016
    td La voici : <a href="https://github.com/superpowers/superpowers-core/releases/v0.18.0" target="_blank">v0.18.0 — La première version Open Source</a> !
  tr
    th 6 Janvier 2016
    td Nous sommes sur <a href="https://patreon.com/SparklinLabs" target="_blank">Patreon</a> ! Découvrez notre <a href="https://www.youtube.com/watch?v=-OHe1v1lBgA" target="_blank">vidéo de présentation</a>.
