.built-with-the-community
  img(src="images/sparklin-labs-small.png")
  .text
    | Initié par <a href="http://sparklinlabs.com/" target="_blank">Sparklin Labs</a><br>
    | réalisé avec la communauté

.links
  a(href="index.en.html") English
  |  · 
  a(href="index.fr.html") Français
  |  — 
  a(href="mailto:team@sparklinlabs.com") Contact
  |  · 
  a(href="supporters.html") Supporters

.powered-by.
  Superpowers est développé avec <a href="http://threejs.org/">three.js</a>, <a href="http://socket.io/">Socket.IO</a>, <a href="http://www.typescriptlang.org/">TypeScript</a>,<br>
  <a href="http://electron.atom.io/">Electron</a>, <a href="http://nodejs.org/">Node.js</a> et plein d'autres supers projets Open Source. Merci !
