body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16pt;
  background: linear-gradient(#3395cd, #81d3dd);
  background-attachment: fixed;
  color: #493e37;
}
.page {
  box-shadow: 0 0 1em rgba(0,0,0,0.3);
  margin: 0 auto;
  max-width: 1320px;
  min-width: 770px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #eee;
}
@media (max-width: 1000px) {
  .page {
    margin: 0;
  }
}
nav {
  background: #e0e0e0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 0.5em;
  border-bottom: 1px solid #ccc;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
nav ul a {
  display: block;
  padding: 1em;
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
nav ul a:hover {
  background: #ccc;
  border-bottom: 2px solid #888;
}
nav ul a:active {
  background: #888;
  color: #fff;
  border-color: #444;
}
nav li {
  display: flex;
  align-items: stretch;
}
nav li a {
  flex: 1;
  display: flex;
  align-items: center;
}
nav li.home a {
  padding: 0 1em;
}
main a {
  color: #398ece;
}
main a:hover {
  text-decoration: none;
}
footer {
  margin-top: 2em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
}
