extends layout/index

block head
  link(rel="stylesheet",href="home.css")

block content
  .logo
    h1 Superpowers
    .tagline 2D+3D game making for indie game makers. Free and open source, <b>finally</b>.
  
  .screenshots
    p Coming very soon! ♥
  
  // .screenshots
    div
      img(src="http://i.imgur.com/g4iNlEn.png",width="672",height="420")
      .info
        header Working in the Superpowers app
        p.
          Superpowers's tabbed interface is easy to use and familiar.
          Asset editors and tools can be opened in their own window.
        p.
          The TypeScript editor comes packed with useful features: syntax highlighting,
          autocompletion, live error reporting, quick jump to definition and more.
        p.
          The API browser lists every namespace, class and function made available
          to you by the various plugins installed on your server.
    //
      Export to any platform + Your Superpowers project in the browser!
      Support us on Patreon
      Demos

  .aspects
    div
      img(src="http://i.imgur.com/N9T5QYU.png")
      .text Real-time collaboration

    div
      img(src="http://i.imgur.com/cQhc4NW.png")
      .text Powerful, intuitive tools

    div
      img(src="http://i.imgur.com/KYc3g9p.png")
      .text Powered by TypeScript

  // .news
    h1 NEWS
  

  // .asset-pack-previews
    img(src="http://i.imgur.com/2vvXFR9.png")
    img(src="http://i.imgur.com/WH3LKYA.png")
    img(src="http://i.imgur.com/UVJ9yqd.png")
