extends layout/main.fr.pug

block head
  title Superpowers — Créer des jeux vidéo 2D+3D, open source et gratuit
  link(rel="stylesheet",href="index.css")

block content
  .logo
    h1 Superpowers
    .tagline La création de jeux 2D+3D pour tous. Gratuit et open source, <b>enfin</b>.
    
  .download
    a(href="https://sparklinlabs.itch.io/superpowers" target="_blank")
      img(src="images/download.png")
      div Télécharger maintenant
    p.
      v6.0 — Windows, MacOS, Linux<br>
      Gratuit. <a href="https://patreon.com/SparklinLabs">Financé par vos dons</a>

  .news
    h1 Dernières news et événements à venir

    include news.fr.pug

    p.
      <a id="show-all-news-items" href="#">Afficher toutes les news</a>
      Inscrivez-vous à <a href="https://sparklinlabs.us10.list-manage.com/subscribe/?u=112738380d07db71177353aac&id=8de36d77b7" target="_blank">la newsletter</a>
      pour les nouvelles importantes.

    include layout/show-news

  .aspects
    div
      img(src="images/artworks/theater.png")
      .text Collaboration en temps réel

    div
      img(src="images/artworks/tools.png")
      .text Outils puissants et intuitifs

    div
      img(src="images/artworks/movie-set.png")
      .text Propulsé par TypeScript
  
  .features
    a.control(href="#").previous
      div ◀
    .spotlight
      include features.fr.pug
    a.control(href="#").next
      div ▶
  
  include layout/slideshow.pug
