extends layout/main.fr.jade

block head
  title Superpowers — Créer des jeux vidéo 2D+3D, open source et gratuit
  link(rel="stylesheet",href="index.css")

block content
  .logo
    h1 Superpowers
    .tagline La création de jeux 2D+3D pour tous. Gratuit et open source, <b>enfin</b>.
    
  .download
    a(href="https://sparklinlabs.itch.io/superpowers" target="_blank")
      img(src="images/download.png")
      div Télécharger maintenant
    p.
      v0.19.0 — Windows, OS X, Linux<br>
      Gratuit. <a href="https://patreon.com/SparklinLabs">Financé par vos dons</a>

  .news
    h1 Dernières news et événements à venir

    table
      tr(class="upcoming")
        th 29 - 31 Janvier 2016
        td La <a href="http://globalgamejam.org/" target="_blank">Global Game Jam</a> arrive. Participez avec la communauté !
      tr
        th 14 Janvier 2016
        td.
          Nouvelle version : <a href="https://github.com/superpowers/superpowers/releases/v0.19.0" target="_blank">v0.19.0 — Une semaine d'Open Source</a>.<br>
          Et aussi : Superpowers LÖVE <a href="https://github.com/superpowers/superpowers-love2d/releases/tag/v0.1">v0.1 — Première version !</a>
      tr
        th 8 Janvier 2016
        td Nouvelle version : <a href="https://github.com/superpowers/superpowers/releases/v0.18.1" target="_blank">v0.18.1 — Correction d'un bug majeur</a>.
      tr
        th 7 Janvier 2016
        td La voici : <a href="https://github.com/superpowers/superpowers/releases/v0.18.0" target="_blank">v0.18.0 — La première version Open Source</a> !
      tr
        th 6 Janvier 2016
        td Nous sommes sur <a href="https://patreon.com/SparklinLabs" target="_blank">Patreon</a> ! Découvrez notre <a href="https://www.youtube.com/watch?v=-OHe1v1lBgA" target="_blank">vidéo de présentation</a>.

    p.
      Inscrivez-vous à <a href="https://sparklinlabs.us10.list-manage.com/subscribe/?u=112738380d07db71177353aac&id=8de36d77b7" target="_blank">la newsletter</a>
      pour les nouvelles importantes. Au plus un e-mail par mois.

  .aspects
    div
      img(src="images/artworks/theater.png")
      .text Collaboration en temps réel

    div
      img(src="images/artworks/tools.png")
      .text Outils puissants et intuitifs

    div
      img(src="images/artworks/movie-set.png")
      .text Propulsé par TypeScript
  
  .features
    a.control(href="#").previous
      div ◀
    .spotlight
      include features.fr.jade
    a.control(href="#").next
      div ▶
  
  include layout/slideshow.jade
