extends layout/main.en.jade

block head
  title Superpowers — Free 2D+3D game maker, open source
  link(rel="stylesheet",href="index.css")

block content
  .logo
    h1 Superpowers
    .tagline 2D+3D game making for indies. Free and open source,&nbsp;<b>finally</b>.
    
  .download
    a(href="https://sparklinlabs.itch.io/superpowers")
      img(src="images/download.png")
      div Download now
    p.
      v0.19.0 — Windows, OS X, Linux<br>
      Free. <a href="https://patreon.com/SparklinLabs">Funded by your donations</a>

  .news
    h1 Latest news and upcoming events

    table
      tr(class="upcoming")
        th January 29 - 31, 2016
        td The <a href="http://globalgamejam.org/" target="_blank">Global Game Jam</a> is happening. Take part with the community!
      tr
        th January 21th, 2016
        td <a href="https://github.com/superpowers/superpowers/wiki/This-Week-in-Superpowers-%231">This Week in Superpowers #1</a>
      tr
        th January 14th, 2016
        td.
          New release: <a href="https://github.com/superpowers/superpowers/releases/v0.19.0" target="_blank">v0.19.0 — A week of Open Source</a>.<br>
          Also new: Superpowers LÖVE <a href="https://github.com/superpowers/superpowers-love2d/releases/tag/v0.1">v0.1 — First release!</a>
      tr
        th January 8th, 2016
        td <a href="https://github.com/superpowers/superpowers/releases/v0.18.1" target="_blank">v0.18.1 — Hotfix for scripting!</a> has been released to fix a major bug.
      tr
        th January 7th, 2016
        td Here we go: <a href="https://github.com/superpowers/superpowers/releases/v0.18.0" target="_blank">v0.18.0 — The first Open Source release</a>!
      tr
        th January 6th, 2016
        td We are now on <a href="https://patreon.com/SparklinLabs" target="_blank">Patreon</a>! Check out our <a href="https://www.youtube.com/watch?v=-OHe1v1lBgA" target="_blank">crowdfunding video</a>.

    p.
      Subscribe to <a href="https://sparklinlabs.us10.list-manage.com/subscribe/?u=112738380d07db71177353aac&id=8de36d77b7" target="_blank">the newsletter</a>
      for big news. At most one email a month.

  .aspects
    div
      img(src="images/artworks/theater.png")
      .text Real-time collaboration

    div
      img(src="images/artworks/tools.png")
      .text Powerful, intuitive tools

    div
      img(src="images/artworks/movie-set.png")
      .text Powered by TypeScript
  
  .features
    a.control(href="#").previous
      div ◀
    .spotlight
      include features.en.jade
    a.control(href="#").next
      div ▶
  
  include layout/slideshow.jade
