extends layout/main.en.jade

block head
  title Superpowers — Free 2D+3D game maker, open source
  link(rel="stylesheet",href="index.css")

block content
  .logo
    h1 Superpowers
    .tagline 2D+3D game making for indies. Free and open source,&nbsp;<b>finally</b>.
    
  .download
    a(href="https://sparklinlabs.itch.io/superpowers")
      img(src="images/download.png")
      div Download now
    p.
      v1.1.0 — Windows, OS X, Linux<br>
      Free. <a href="https://patreon.com/SparklinLabs">Funded by your donations</a>

  .news
    h1 Latest news and upcoming events

    include news.en.jade

    p.
      <a id="show-all-news-items" href="#">Show more news items</a>
      Subscribe to <a href="https://sparklinlabs.us10.list-manage.com/subscribe/?u=112738380d07db71177353aac&id=8de36d77b7" target="_blank">the newsletter</a>
      for big news.

    include layout/show-news

  .aspects
    div
      img(src="images/artworks/theater.png")
      .text Real-time collaboration

    div
      img(src="images/artworks/tools.png")
      .text Powerful, intuitive tools

    div
      img(src="images/artworks/movie-set.png")
      .text Powered by TypeScript
  
  .features
    a.control(href="#").previous
      div ◀
    .spotlight
      include features.en.jade
    a.control(href="#").next
      div ▶
  
  include layout/slideshow.jade
