ul
  li.home
    a(href="index.html")
      img(src="images/superpowers-logo.png",width="48",height="48")
  li
    a(href="https://sparklinlabs.itch.io/superpowers",target="_blank") Télécharger
  li 
    a(href="http://docs.sparklinlabs.com/",target="_blank") Apprendre
  li
    a(href="http://itch.io/engine/superpowers/community",target="_blank") Communauté
  li
    a(href="http://itch.io/c/27733/games-made-with-superpowers",target="_blank") Jeux
  li
    a(href="https://patreon.com/SparklinLabs",target="_blank") Patreon
  li
    a(href="https://github.com/superpowers",target="_blank") Open Source
