ul
  li.home
    a(href="index.html")
      img(src="images/superpowers-logo.png",width="48",height="48")
  li 
    a(href="http://docs.superpowers-html5.com/") Apprendre
  li
    a(href="http://itch.io/engine/superpowers/community") Communauté
  li
    a(href="http://itch.io/c/27733/games-made-with-superpowers") Jeux
  li
    a(href="https://patreon.com/SparklinLabs") Patreon
  li
    a(href="https://github.com/superpowers") Open Source
