extends layout/index

block head
  link(rel="stylesheet",href="index.css")

block content
  .logo
    h1 Superpowers
    .tagline 2D+3D game making for indies. Free and open source, <b>finally</b>.

  .news
    h1 Latest news and upcoming events
    
    table
      tr
        th January 29 - 31, 2016
        td The Global Game Jam is happening. Take part with the community!
      tr
        th January 7th, 2016
        td Superpowers goes open source, v1.0 has been released!

  .aspects
    div
      img(src="images/artworks/theater.png")
      .text Real-time collaboration

    div
      img(src="images/artworks/tools.png")
      .text Powerful, intuitive tools

    div
      img(src="images/artworks/movie-set.png")
      .text Powered by TypeScript
  
  .slides
    .controls
      button.previous ◄
      button.next ►

    .slide
      img(src="images/screenshots/residence-gudul.png",width="504",height="315")
      .info
        header Working in the Superpowers app
        p.
          Superpowers's tabbed interface is easy to use and familiar.
          Asset editors and tools can be opened in their own windows.
        p.
          The TypeScript editor comes packed with useful features: syntax highlighting,
          autocompletion, live error reporting, quick jump to definition and more.
        p.
          The API browser lists every namespace, class and function made available
          to you by the various plugins installed on your server.

    .slide(hidden)
      img(src="images/screenshots/residence-gudul.png",width="672",height="420")
      .info
        header ...
        
        p Export to any platform + Your Superpowers project in the browser!
        p Support us on Patreon
        p Demos

  script(src="")

  // .asset-pack-previews
    img(src="http://i.imgur.com/2vvXFR9.png")
    img(src="http://i.imgur.com/WH3LKYA.png")
    img(src="http://i.imgur.com/UVJ9yqd.png")
