extends layout/main.en.jade

block head
  title Superpowers — Supporters
  style.
    main h1 {
      background: url(images/supporters.png) center top no-repeat;
      background-size: contain;
      padding-top: 9em;
      text-align: center;
    }
    
    .supporters { padding: 1em 3em; }
    .supporters p { text-align: left; }

    .thanks, .missing {
      background: #ddd;
      text-align: center;
      padding: 1em 3em;
    }

block content
  h1 Our beloved supporters! ♥

  .thanks
    p Thank you so much to everyone of you!<br>Superpowers wouldn't exist without your help.

  .supporters
    p.
      <b>Patrons on <a href="https://patreon.com/SparklinLabs">Patreon</a></b>:
      Viachaslau, Tom Fulp, Dren Bx, passazhir, Samuel Wilton, Blixt, Seïfane Idouchach,
      Mike King, Shqiptar, Florent Poujol, AliceP, Jean CHARPENTIER, Jonathon Junker, Mjollna,
      Micah Lee Vincent, Christopher Georget, Daven Bigelow, Jognu, TheSisb, Corentin Lallier,
      Andrew, Matthew Colwin, Zachary Carter, Ulysse Ramage, Brainlocki3, Matt Lee, Chris Sakkas,
      HeartBeast, Arturo J. Pérez, Jens Bakke, Jessie, Bug Dlestra, Ian O'Dea, Liam Brocklehurst,
      Tobias Cohen, Cartwright Reed, Keilin Olsen, Jaleh Afshar, Dan Dias, Tsai Ming Tzung, Harry Hinch

    p.
      <b>Early Access Supporters:</b>
      cart, Spacehunter, kednar, Lunarex, samuel s, Itslukew, Dyriolon, robotjoel, Anonymous, lololar, Sorax, flsk13, Joculator,
      R4wizard, calapout1, Anonymous, Svdl, McLone, ggspringer, martin15xp, rurunosep, pyremonk, LDF, dani, Kirthos, Sparkew74,
      Dren, kweebix, Vyse Le Bleu, ZeAmateis, Hotcat, Marobax, Bokopi, fabulis, totote65, Drjekill, Teethjail, Jayjay, gnerkus,
      ursagames, Menduil, krepusko, @Valdaria505, chats cosmiques, curioussav, Sammy, redavni, GreatAtlas, Anonymous, Anonymous,
      arignir, Anonymous, Bn_Green, schmoll, unrillaz, Iléou le raycasting ♥, Hyoscine, yakuza, YKUZA, Vinyl Pixels, IamHadzy,
      Anonymous, loulou2852, The Boss Cat, Felladrin, TheNetChamps, JerryLee, Harmo, Noxywoxy, Anonymous, Anonymous, Suvasco,
      NoxiDream, oh1min, Kinta, Kinta, Tenember, Nexx, nabouz, HisokaH, Mi3ter, VitaWrap, Cicno, guillou, greg, totue, paste0x78,
      Sugarshy, Guiz, Nattack, Bunnybacon, Anonymous, Anonymous, ch0c4, ishMama, ishraam, Redkill2108, jhice, Cottarelf, yoxola,
      moave.de, Makeshiftrobot, LeJuge, LeCube, Yvanor, @jancborchardt, McDirty, Xyoman77, Swift_Illusion, Samuel K., Shoehead,
      tyler, Anonymous, TRXD, tinyworlds, Anonymous, OVRNRD, (Inside), abclive, chunkyb, Anonymous, Kaldrey, GillesNGames,
      ClubCodeFrance, Jonic, OMGElsie, V3xx, Calamar, Anachitect, nicos, iooner, Proto, damsminours, Sayrken, Listege,
      Anonymous, captnflem, Skerwe, agilejoshua, Td1801, Anonymous, Anonymous, Margoulin, Anonymous, Siridyx, agetwozero, 317,
      jericito, Ne0tix, Gostique, NeoSyder, coca, largemoose421, helscar, Kitheif, kae, Karoth, 8BitGate.com, Tokinsom,
      OverSpeed301, tickleman, Tamfoolery, ErelDev, Xirius, Xapon, wRadion, Laaris, Tititesouris, Metylene, @Tavrox, Benlaod,
      @Big_Dubyah, Apox, aplatanado, Anonymous, Nemrod, Krummer, pumpkindogA18, CorvusE, oddgoo, @rileydutton, Fairydhwen, Plasma,
      Dukmos, Pixxel101, Anonymous, Dungeon Rushers, Serg, technologia, Need raycasting omg omg;, mailloud, abclive, xhelty19,
      Cottarelf, Anonymous, You ended my bro depression, Tanki ~ Kenshimdev, iaman, Tixis Team, Keriz, ggtr1138, eigenbom, @jay_akers,
      NotExplosive, Anonymous, tonypai, DarkBren, Anonymous, MisterEz, BeatKitano, ralmn, Erwan, Claython, ert528hnb, Pouchi, Metylene,
      Anonymous, Nioub, Glandouze, Wolfbanejackal, Chrigeo, DarkBren, MrCroni, Sayrken, san37, Metalucas57, FlorentP, Samuel K., fraxken,
      AuraHxC, Hieronims, nio101, Jordo76, Anonymous, Raesta, Crazyrems, Joskin, Amateis, Micah, ShadowTzu, cocadev, MrCroni, Anata,
      Shqiptar, Stornitz, Antoine, kasyos, Teubamaf, Canardu57, abclive, Nils, Sitiel, Toinane, iooner, Vanege, Mattresz, squale,
      420blazemaster, Zryx, Jognu's familly, Anonymous, powermugen, Jognu, Samfreeman05, MatFenric, Stencilo
      and all those who bought Superpowers on itch.io.

    p.
      <b>CraftStudio Supporters:</b> <a href="https://www.indiegogo.com/projects/craftstudio-real-time-collaborative-game-making#/funders" target="_blank">612 generous people</a>,
      and every CraftStudio customer.
      Your early trust is still bearing fruit!
    

  .missing
    p If perchance we forgot to add you to the list,<br>please <a href="mailto:team@sparklinlabs.com">let us know</a> and we'll be very happy to fix it.
