main {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
}

main .logo {
  padding: 1em;
  background: url(images/artworks/cover.png) center bottom no-repeat;
  background-size: 75%;
  height: 520px;
  min-height: calc(350px - 2em);
  max-height: 40vw;

  h1 {
    margin: 0;
    font-size: 5em;
    font-weight: bold;
    font-family: "Lato";
  }
  
  .tagline {
  }
}

main .download {
  padding: 1em;
  background: #444;
  margin: 1em -1px 0;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  p { margin: 0 1em; text-align: left; }

  > a {
    display: flex;
    align-items: center;
    border: 2px solid #404040;
    border-radius: 0.25em;
    background: #2C9CD6;
    color: #f0f0f0;
    padding: 0.75em 1em;
    font-size: inherit;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }
  > a img { margin-right: 0.5em; }
  > a:hover { background: #53bef5; }
  > a:active { background: #666; }
}

main .news {
  background: #ddd;
  text-align: center;
  padding: 2em;
  
  h1 { margin-top: 0; }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #bbb;
    padding: 0.5em;
  }
  th { text-align: right; }
  td { text-align: left; }
}

main .aspects {
  display: flex;
  padding: 1em 10vw;
  align-items: baseline;
  
  > div {
    flex: 1;
    img { width: 100%; }
    .text { text-align: center; }
  }
}

main .features-toggle {
  margin-top: 1em;
  background: #ddd;
  padding: 1em;
}

main .features {
  margin-bottom: 1em;
  background: #ddd;

  display: flex;
  align-items: stretch;

  a.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    font-size: 3.5em;
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
    background: #d0d0d0;
  }
  a.control:hover { opacity: 1; cursor: pointer; background: #ccc; }
  a.control:active { background: #666; color: #ccc; }

  .spotlight {
    flex: 1;
    padding: 1em;
    
    min-height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .spotlight h1 { line-height: 1.5; margin-top: 0; }
  .spotlight h1 .number { font-size: 0.5em; padding-left: 0.5em; color: #888; font-weight: normal; white-space: nowrap; vertical-align: middle; }
  .spotlight img { max-width: 90%; }
}

@media (max-width: 1000px) {
  main .logo { font-size: 0.75em; }
  main .aspects { padding: 1em 5vw; }
  
  main .slides .slide {
    flex-flow: column;
    img { width: calc(100% - 1em); height: auto; }
  }
  
  main .slides .info { padding: 1em 0; }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  main .logo .tagline { font-size: 1.75em; }
  main .news table { font-size: 1.5em; }
}
