main {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
}

main .logo {
  padding: 1em;
  background: url(https://sparklinlabs.com/images/artwork.png) center bottom no-repeat;
  background-size: 75%;
  height: 520px;
  min-height: calc(350px - 2em);
  max-height: 40vw;

  h1 {
    margin: 0;
    font-size: 5em;
    font-weight: bold;
    font-family: "Lato";
  }
  
  .tagline {
  }
}

main .news {
  background: #ddd;
  text-align: center;
  padding: 2em 0;
  
  h1 { margin-top: 0; }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #bbb;
    padding: 0.5em;
  }
  th { text-align: right; }
  td { text-align: left; }
}

main .aspects {
  display: flex;
  padding: 1em 10vw;
  align-items: baseline;
  
  > div {
    flex: 1;
    img { width: 100%; }
    .text { text-align: center; }
  }
}

main .slides {
  margin: 1em 0;
  background: #ddd;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: relative;
  
  .controls {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    font-size: 0.75em;
    line-height: 1;
  }
  
  .controls button {
    border: 1px solid #bbb;
    background: #eee;
    color: #666;
    padding: 0.5em 0.75em;
    margin-left: 0.5em;
    font-size: inherit;
    cursor: pointer;
    
    &:hover { background: #fff; }
  }
  
  .slide:not([hidden]) {
    padding: 1em;
    flex: 1;
    display: flex;
    text-align: left;
  }
  
  .info {
    padding: 0 1em;
  }
  
  .info header {
    font-size: 1.5em;
  }
}

@media (max-width: 1000px) {
  main .logo {
    font-size: 0.75em;
  }
  
  main .aspects {
    padding: 0 5vw;
  }
  
  main .slides .slide {
    flex-flow: column;
    img { width: calc(100% - 1em); height: auto; }
  }
  
  main .slides .info {
    padding: 1em 0;
  }
}
