ul
  li.home
    a(href="index.html")
      img(src="https://sparklinlabs.com/images/logo-square.png",width="48",height="48")
  li
    a(href="https://sparklinlabs.itch.io/superpowers",target="_blank") Download
  li 
    a(href="http://docs.sparklinlabs.com/",target="_blank") Learn
  li
    a(href="https://reddit.com/r/superpowers",target="_blank") Community
  li
    a(href="https://sparklinlabs.com",target="_blank") Support us
  // li
    a(href="https://patreon.com/SparklinLabs",target="_blank") Patreon
  li
    a(href="https://github.com/superpowers",target="_blank") Open Source
