.feature
  h1 Discover Superpowers
  img(src="images/slides/tabbed-ui.png")
  .info
    p.
      Superpowers's tabbed interface is easy to use and familiar.<br>
      Asset editors and tools can be opened in their own windows.

.feature(hidden)
  h1 Game logic with TypeScript
  img(src="images/slides/typescript-editor.png")
  .info
    p.
      The TypeScript editor comes packed with useful features: syntax highlighting,<br>
      autocompletion, live error reporting, quick jump to definition and more.

.feature(hidden)
  h1 Free asset packs
  img(src="images/slides/asset-packs.png")
  .info
    p.
      Superpowers comes with hundreds of individual assets,<br>
      including sprites, 3D models, sound effects, fonts and music!<br>

.feature(hidden)
  h1 Publish to any platform
  img(src="images/slides/publish.png")
  .info
    p.
      Superpowers games can be published on PC, Mac, Linux, iOS and Android.<br>
      And of course, they run in recent Web browsers too!<br>

.feature(hidden)
  h1 Examples and demo projects
  a(href="https://github.com/superpowers-extra",target="_blank")
    img(src="images/slides/demo-projects.png")
  .info
    p.
      We've built a library of games to get you started.<br>
      Download tons of ready-to-use projects <a href="https://github.com/superpowers-extra" target="_blank">on GitHub</a>.


.feature(hidden)
  h1 Support us on Patreon
  a(href="https://patreon.com/SparklinLabs",target="_blank")
    img(src="images/slides/support-us.png")
  .info
    p.
      We've been pouring our hearts and souls into Superpowers since late 2014.<br>
      Please consider supporting our work with a subscription <a href="https://patreon.com/SparklinLabs" target="_blank">on Patreon</a>. Thanks! :)
