doctype html
html
  head
    meta(charset="utf-8")
    title Superpowers — Free 2D+3D game maker, open source
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700",rel="stylesheet",type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700",rel="stylesheet",type="text/css")
    link(rel="stylesheet",href="layout/main.css")
    block head
  body
    .page
      nav
        include menu

      main
        block content

      footer
        img(src="https://avatars0.githubusercontent.com/u/4684269?v=3&s=64")
        .text
          | Championed by Sparklin Labs
          br
          | built with the community
