.built-with-the-community
  img(src="images/sparklin-labs-small.png")
  .text
    | Championed by <a href="http://sparklinlabs.com/" target="_blank">Sparklin Labs</a><br>
    | built with the community

.links
  a(href="index.en.html") English
  |  · 
  a(href="index.fr.html") Français
  |  — 
  a(href="mailto:team@sparklinlabs.com") Contact
  |  · 
  a(href="supporters.html") Supporters
