doctype html
html
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700",rel="stylesheet",type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700",rel="stylesheet",type="text/css")
    link(rel="stylesheet",href="layout/main.css")
    block head
  body
    .page
      nav
        include menu.fr.jade

      main
        block content

      footer
        include footer.fr.jade
